<%- include('header')%>
  <div class="container">

    <h1>Convert Money</h1>
    <form method="GET" action="/cotacao">
      <label>Valor da cotação do dolar no dia:</label><br>
      <input type="text" name="cotacao" value=<%=cotacao %>><br>
      <input type="text" name="quantidade" placeholder="Quantidade de Dolares"><br>
      <button class="button">Converter!</button>

    </form>
  </div>
  <%- include('footer') %>